@model NexusPropertyPortal.Models.Property

@{
    ViewData["Title"] = "Add New Property";
}

<h2>Register New Property</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group">
                <label asp-for="Suburb" class="control-label"></label>
                <input asp-for="Suburb" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Bedrooms" class="control-label"></label>
                <input asp-for="Bedrooms" class="form-control" type="number" />
            </div>
            <div class="form-group">
                <label asp-for="Bathrooms" class="control-label"></label>
                <input asp-for="Bathrooms" class="form-control" type="number" />
            </div>
            <div class="form-group">
                <label asp-for="SquareMeters" class="control-label"></label>
                <input asp-for="SquareMeters" class="form-control" type="number" />
            </div>
            <div class="form-group">
                <label asp-for="GarageCount" class="control-label"></label>
                <input asp-for="GarageCount" class="form-control" type="number" />
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" type="number" step="0.01" />
            </div>
            
            
            <br />
            <div class="form-group">
                <input type="submit" value="Save to Database" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>